@model IEnumerable<WeatherFromOpenWeatherMap.Models.Forecast>

@{
    string apiKey = ConfigReaderDAL.ReadSetting("api_key");
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<h2>Get Weather Forecast</h2>
<form action="~/Home/Index" method="post">
    <input type="text" name="zipCode" />
    <input type="submit" name="submitZipCode" value="Get Weather" />
</form>

@if(Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature) (°F)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pressure) (hPa)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pressure)
                </td>

            </tr>
        }
    </table>
}