@model IEnumerable<WeatherFromOpenWeatherMap.Models.Forecast>

@{
    string apiKey = ConfigReaderDAL.ReadSetting("api_key");
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>     
    function getFiveDayThreeHourWeather() {
        const tableDiv = document.getElementById("ajax");

        function getWeather(callback) {
            var weather = 'https://api.openweathermap.org/data/2.5/forecast?zip='+zipCode.value+'&appid='+'@apiKey';
            $.ajax({
              dataType: "jsonp",
              jsonpCallback: 'jsonCallback',
              url: weather,
              password: "bf8227f467382d0f7b5faf6cfb7bab7a",
              success: callback
            });
        }

        // get data:
        getWeather(function (data) {
            console.log('weather data received');
            //console.log(data);
            const weatherForecasts = data["list"];

            tableDiv.innerHTML += '<table class="table"><tr><th>Date</th><th>Temperature) (°F)</th><th>Pressure (hPa)</th><th></th></tr>';
            const weatherTable = document.getElementsByClassName("table");

            weatherForecasts.forEach(function (item) {
                let newRow = document.createElement('tr');
                newRow.innerHTML = `<tr><td>${item["dt_txt"]}</td><td>${item["main"]["temp"]}</td><td>${item["main"]["pressure"]}</td><tr>`;
                weatherTable[0].appendChild(newRow);
            });

            tableDiv.innerHTML += '</table>';
        });
    }
</script>

<div class="heading">
    <br /><br />
    <form onsubmit=" return getFiveDayThreeHourWeather()">
        @*Enter Zip Code: <input id="zip" name="zip" type="text" inputmode="numeric" pattern="^(?(^00000(|-0000))|(\d{5}(|-\d{4})))$">*@
        Enter Zip Code: <input id="zip" name="zip" type="number" >
        <input type="button" onclick="getFiveDayThreeHourWeather()" value="Get Weather">
        @*<input type="submit" value="Get Weather" />*@
    </form>
</div>
<div id="ajax"></div>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature) (°F)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pressure) (hPa)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressure)
            </td>

        </tr>
    }

    </table>*@

<script>    
    const zipCode = document.getElementById("zip");
</script>